In [1]:
import load_data
import numpy as np

In [2]:
df = load_data.load_county_level()
print(df)

loading county-level data...
loaded and merged COVID-19 cases/deaths data successfully
     countyFIPS  STATEFP  COUNTYFP   CountyName StateName       State  \
1843      36047     36.0      47.0        Kings        NY    New York
199       06037      6.0      37.0  Los Angeles        CA  California
1860      36081     36.0      81.0       Queens        NY    New York
602       17031     17.0      31.0         Cook        IL    Illinois
1822      36005     36.0       5.0        Bronx        NY    New York
...         ...      ...       ...          ...       ...         ...
1366      27121     27.0     121.0         Pope        MN   Minnesota
2834      51045     51.0      45.0        Craig        VA    Virginia
1328      27045     27.0      45.0     Fillmore        MN   Minnesota
1327      27043     27.0      43.0    Faribault        MN   Minnesota
3141      15005     15.0       5.0      Kalawao        HI         NaN

            lat         lon  POP_LATITUDE  POP_LONGITUDE  ...  \
1843  40.640578  -73.954654     40.650523     -73.954811  ...
199   34.369957 -118.212742     34.065193    -118.244222  ...
1860  40.683532  -73.814712     40.721294     -73.833451  ...
602   41.842959  -87.821180     41.865937     -87.757714  ...
1822  40.856182  -73.864945     40.849354     -73.882363  ...
...         ...         ...           ...            ...  ...
1366  45.593247  -95.442499     45.629871     -95.437130  ...
2834  37.470206  -80.212564     37.476038     -80.174522  ...
1328  43.683191  -92.090991     43.692687     -92.082719  ...
1327  43.684226  -93.955858     43.680245     -93.957933  ...
3141        NaN         NaN     21.188495    -156.979972  ...

     #Deaths_11-16-2020 #Deaths_11-17-2020  #Deaths_11-18-2020  \
1843               7453               7455                7457
199                7275               7299                7335
1860               7323               7323                7324
602                5836               5855                5935
1822               5022               5022                5023
...                 ...                ...                 ...
1366                  0                  0                   0
2834                  0                  0                   0
1328                  0                  0                   0
1327                  0                  0                   0
3141                  0                  0                   0

      #Deaths_11-19-2020                                             deaths  \
1843                7465  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
199                 7363  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1860                7329  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
602                 5967  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1822                5023  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
...                  ...                                                ...
1366                   0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2834                   0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1328                   0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1327                   0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
3141                   0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

                                                  cases  tot_deaths  \
1843  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...        7465
199   [0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...        7363
1860  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...        7329
602   [0, 0, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, ...        5967
1822  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...        5023
...                                                 ...         ...
1366  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...           0
2834  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...           0
1328  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...           0
1327  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...           0
3141  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...           0

      tot_cases                                    neighbor_deaths  \
1843      83083  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
199      353232  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
1860      84269  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
602      268284  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
1822      59856  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
...         ...                                                ...
1366        419  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
2834         75  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
1328        536  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
1327        430  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
3141          0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

                                         neighbor_cases
1843  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
199   [0.0, 0.0, 0.0, 0.0, 2.0, 2.0, 2.0, 2.0, 2.0, ...
1860  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
602   [0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...
1822  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
...                                                 ...
1366  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
2834  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
1328  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
1327  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
3141  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

[3142 rows x 714 columns]

In [3]:
print(df.keys())

Index(['countyFIPS', 'STATEFP', 'COUNTYFP', 'CountyName', 'StateName', 'State',
       'lat', 'lon', 'POP_LATITUDE', 'POP_LONGITUDE',
       ...
       '#Deaths_11-16-2020', '#Deaths_11-17-2020', '#Deaths_11-18-2020',
       '#Deaths_11-19-2020', 'deaths', 'cases', 'tot_deaths', 'tot_cases',
       'neighbor_deaths', 'neighbor_cases'],
      dtype='object', length=714)

In [4]:
print(df[['countyFIPS', 'CountyName', '#Deaths_11-11-2020', '#Cases_11-11-2020', 'tot_cases', 'tot_deaths']].head(10))

     countyFIPS   CountyName  #Deaths_11-11-2020  #Cases_11-11-2020  \
1843      36047        Kings                7441              79558
199       06037  Los Angeles                7216             327964
1860      36081       Queens                7317              80555
602       17031         Cook                5717             231462
1822      36005        Bronx                5014              57657
98        04013     Maricopa                3747             170207
3135      12086   Miami-Dade                3693             195991
1850      36061     New York                3200              38668
1304      26163        Wayne                3104              48200
2615      48201       Harris                2877             168746

      tot_cases  tot_deaths
1843      83083        7465
199      353232        7363
1860      84269        7329
602      268284        5967
1822      59856        5023
98       183177        3850
3135     209166        3738
1850      41263        3217
1304      54721        3145
2615     177466        2943

In [5]:
OC_cases = df[(df['StateName']=='CA') & (df['CountyName']=='Orange')]['cases'].values[0]
OC_deaths = df[(df['StateName']=='CA') & (df['CountyName']=='Orange')]['deaths'].values[0]
print(OC_cases, OC_deaths)

[    0     0     0     0     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     3     3     3     3     3     5
     5     6     6    13    14    17    22    29    42    53    65    78
    95   125   152   187   256   321   403   431   464   502   606   656
   711   786   834   882   931  1016  1079  1138  1221  1277  1283  1299
  1376  1425  1501  1556  1636  1676  1691  1753  1827  1845  1969  2074
  2126  2151  2252  2393  2537  2636  2743  2819  2873  3004  3092  3240
  3380  3502  3557  3602  3749  3968  4125  4222  4376  4434  4500  4742
  4841  4941  5157  5336  5469  5578  5646  5744  5923  6100  6261  6474
  6574  6678  6783  7064  7321  7440  7527  7614  7737  7987  8153  8269
  8573  8759  8999  9197  9292  9576  9988 10422 10595 10737 11016 11511
 11960 12462 12608 13064 13843 14413 15065 15778 16191 16854 17882 18892
 20225 21517 22650 23901 24715 25255 26120 27031 27904 28309 29011 29426
 29986 30976 31743 32648 33358 33953 34373 34646 34833 35272 35778 36196
 36833 37391 37813 38066 38131 38711 38754 39076 39641 40527 41578 41823
 42171 42854 43367 43709 43925 44212 44507 44936 45308 45801 45954 46307
 46642 47090 47459 47782 48190 48444 48538 48825 48945 48945 49258 49509
 49732 49845 49996 50190 50471 50613 50760 50930 50974 51124 51259 51399
 51646 51873 52063 52201 52382 52538 52622 52904 53069 53315 53448 53557
 53751 53909 54118 54357 54640 54760 54898 55042 55183 55345 55531 55775
 55892 56070 56283 56436 56587 56672 56868 57071 57373 57635 57848 58010
 58326 58573 58725 58980 59213 59442 59718 59882 60115 60298 60604 60841
 61112 61421 61743 62255 62563 62830 63165 63460 64058 64586 65225 65605
 65957 66585 67167] [   0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    1    1    1    3    4    4    4    7
   10   13   13   14   14   14   15   17   17   17   18   19   19   19
   22   25   25   32   32   33   33   34   36   36   38   39   39   42
   44   45   50   52   52   57   61   65   66   71   74   76   76   77
   80   80   84   86   88   88   88   98  112  118  130  131  131  131
  136  142  145  146  147  147  150  158  165  174  176  177  177  185
  198  202  210  217  221  221  233  243  250  257  267  269  269  273
  299  306  323  323  326  330  340  345  354  360  363  366  366  369
  376  402  412  421  423  424  433  455  466  469  494  492  493  513
  521  543  556  562  564  566  581  587  604  618  649  651  651  653
  665  697  704  720  724  724  734  745  769  789  809  810  810  815
  833  856  882  896  897  897  912  918  947  956  975  979  980  988
 1007 1018 1042 1051 1053 1053 1056 1065 1069 1081 1093 1093 1093 1105
 1111 1115 1123 1127 1128 1128 1150 1176 1182 1204 1214 1216 1216 1249
 1268 1275 1281 1286 1286 1287 1289 1292 1306 1316 1340 1341 1341 1341
 1360 1391 1401 1409 1409 1410 1412 1423 1434 1440 1444 1447 1447 1454
 1467 1468 1475 1483 1483 1483 1484 1491 1494 1503 1506 1509 1509 1512
 1514 1520 1522 1524 1526 1526 1526 1528 1537]

In [6]:
# get data first
# convert a time series to a data matrix
def get_data_matrix(data, n):
  # n = 10; the number of past days, the input dimension
  size = len(data)
  m = size-n-1
  #print(n,m,size)
  
  tmp = []
  for i in range(m): # get the latest 100
    tmp.append(data[size-i-n-1:size-i])
  tmp = np.stack(tmp)
  return tmp[:,:-1], tmp[:,-1]#-tmp[:,-2]

In [7]:
X, y = get_data_matrix(OC_cases, 10)
print(X, y)

[[62563 62830 63165 ... 65605 65957 66585]
 [62255 62563 62830 ... 65225 65605 65957]
 [61743 62255 62563 ... 64586 65225 65605]
 ...
 [    0     1     1 ...     1     1     1]
 [    0     0     1 ...     1     1     1]
 [    0     0     0 ...     1     1     1]] [67167 66585 65957 65605 65225 64586 64058 63460 63165 62830 62563 62255
 61743 61421 61112 60841 60604 60298 60115 59882 59718 59442 59213 58980
 58725 58573 58326 58010 57848 57635 57373 57071 56868 56672 56587 56436
 56283 56070 55892 55775 55531 55345 55183 55042 54898 54760 54640 54357
 54118 53909 53751 53557 53448 53315 53069 52904 52622 52538 52382 52201
 52063 51873 51646 51399 51259 51124 50974 50930 50760 50613 50471 50190
 49996 49845 49732 49509 49258 48945 48945 48825 48538 48444 48190 47782
 47459 47090 46642 46307 45954 45801 45308 44936 44507 44212 43925 43709
 43367 42854 42171 41823 41578 40527 39641 39076 38754 38711 38131 38066
 37813 37391 36833 36196 35778 35272 34833 34646 34373 33953 33358 32648
 31743 30976 29986 29426 29011 28309 27904 27031 26120 25255 24715 23901
 22650 21517 20225 18892 17882 16854 16191 15778 15065 14413 13843 13064
 12608 12462 11960 11511 11016 10737 10595 10422  9988  9576  9292  9197
  8999  8759  8573  8269  8153  7987  7737  7614  7527  7440  7321  7064
  6783  6678  6574  6474  6261  6100  5923  5744  5646  5578  5469  5336
  5157  4941  4841  4742  4500  4434  4376  4222  4125  3968  3749  3602
  3557  3502  3380  3240  3092  3004  2873  2819  2743  2636  2537  2393
  2252  2151  2126  2074  1969  1845  1827  1753  1691  1676  1636  1556
  1501  1425  1376  1299  1283  1277  1221  1138  1079  1016   931   882
   834   786   711   656   606   502   464   431   403   321   256   187
   152   125    95    78    65    53    42    29    22    17    14    13
     6     6     5     5     3     3     3     3     3     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1]