In [1]:
import load_data
import torch
from Project_Models import RNN_Model
import torch.nn as nn

In [2]:
df = load_data.load_county_level()

loading county-level data...
loaded and merged COVID-19 cases/deaths data successfully

In [3]:
print(df[['CountyName', 'StateName', '#Hospitals', '#ICU_beds', 'cases', 'deaths']].head(2).values)

[['Kings' 'NY' 12.0 318.0
  array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     1,     1,
           3,     3,     4,    10,    14,    24,    24,    34,    53,
          62,   157,   505,  1195,  1518,  2484,  2857,  3494,  4237,
        5232,  6095,  6750,  8129,  8887, 10171, 11160, 12274, 13290,
       15700, 17504, 18558, 19702, 20879, 22082, 23394, 24715, 26243,
       27471, 28404, 29306, 31969, 33521, 34705, 35763, 36482, 37030,
       37694, 38481, 39354, 40648, 41660, 42487, 43014, 43587, 44236,
       44872, 45519, 46275, 46839, 47183, 47579, 47974, 48550, 48998,
       49461, 49817, 50072, 50331, 50667, 51095, 51581, 51991, 52298,
       52485, 52681, 52889, 53385, 53639, 53902, 54175, 54360, 54560,
       54779, 55147, 55446, 55727, 55900, 56053, 56242, 56405, 56587,
       56770, 56966, 57131, 57260, 57367, 57484, 57605, 57733, 57919,
       58059, 58177, 58274, 58386, 58502, 58634, 58761, 58874, 58949,
       59047, 59111, 59206, 59311, 59420, 59507, 59576, 59650, 59742,
       59855, 59957, 60078, 60149, 60211, 60281, 60281, 60461, 60560,
       60647, 60748, 60815, 60904, 61012, 61124, 61233, 61351, 61432,
       61488, 61568, 61662, 61752, 61824, 61926, 61988, 62053, 62110,
       62194, 62295, 62385, 62494, 62577, 62641, 62715, 62790, 62890,
       62999, 63086, 63155, 63223, 63308, 63410, 63542, 63636, 63779,
       63861, 63913, 64002, 64082, 64162, 64236, 64301, 64375, 64422,
       64495, 64572, 64664, 64754, 64857, 64930, 64998, 65118, 65201,
       65328, 65440, 65540, 65626, 65700, 65757, 65819, 65929, 66009,
       66124, 66197, 66274, 66381, 66468, 66586, 66737, 66971, 67136,
       67227, 67391, 67510, 67717, 67892, 68095, 68279, 68462, 68658,
       68844, 69062, 69319, 69677, 69933, 70131, 70354, 70616, 70899,
       71199, 71435, 71635, 71756, 71941, 72159, 72369, 72598, 72894,
       73123, 73263, 73433, 73766, 73935, 74114, 74339, 74553, 74703,
       74903, 75169, 75517, 75779, 76001, 76238, 76446, 76663, 76988,
       77341, 77709, 78058, 78414, 78745, 79073, 79558, 80008, 80491,
       80946, 81371, 81686, 82090, 82543, 83083], dtype=int64)
  array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    1,    1,    1,
          1,    1,    1,    1,    1,   14,   27,   45,   64,   81,  102,
        167,  185,  215,  261,  328,  385,  485,  610,  896, 1022, 1153,
       1313, 1473, 1640, 1843, 2028, 2132, 2839, 3007, 3164, 3317, 3451,
       3749, 3900, 4071, 4247, 4413, 4568, 4738, 4878, 4970, 5064, 5155,
       5228, 5320, 5410, 5508, 5569, 5638, 5677, 5783, 5853, 5924, 5976,
       6017, 6077, 6147, 6219, 6276, 6340, 6383, 6412, 6437, 6480, 6516,
       6547, 6568, 6597, 6602, 6628, 6642, 6664, 6689, 6700, 6732, 6742,
       6754, 6774, 6794, 6811, 6833, 6841, 6849, 6859, 6872, 6886, 6902,
       6918, 6932, 6936, 6942, 6957, 6965, 6977, 6985, 6993, 6995, 6995,
       6995, 7001, 7011, 7020, 7031, 7031, 7103, 7104, 7111, 7120, 7130,
       7132, 7133, 7137, 7147, 7158, 7163, 7171, 7171, 7182, 7184, 7189,
       7195, 7195, 7199, 7205, 7206, 7211, 7212, 7222, 7232, 7232, 7234,
       7237, 7237, 7242, 7245, 7247, 7248, 7249, 7249, 7249, 7249, 7253,
       7253, 7257, 7259, 7261, 7261, 7261, 7265, 7266, 7266, 7266, 7269,
       7269, 7271, 7273, 7273, 7277, 7278, 7279, 7281, 7281, 7285, 7285,
       7285, 7287, 7290, 7290, 7290, 7290, 7290, 7293, 7293, 7297, 7298,
       7298, 7299, 7299, 7306, 7306, 7306, 7306, 7311, 7312, 7314, 7315,
       7318, 7318, 7319, 7319, 7321, 7323, 7323, 7326, 7327, 7329, 7329,
       7329, 7337, 7338, 7339, 7340, 7342, 7345, 7346, 7347, 7350, 7352,
       7353, 7355, 7356, 7361, 7365, 7366, 7370, 7372, 7373, 7374, 7376,
       7381, 7382, 7383, 7385, 7387, 7390, 7393, 7400, 7400, 7404, 7406,
       7409, 7414, 7417, 7425, 7429, 7434, 7436, 7440, 7441, 7443, 7445,
       7450, 7452, 7453, 7455, 7457, 7465], dtype=int64)]
 ['Los Angeles' 'CA' 76.0 2126.0
  array([     0,      0,      0,      0,      1,      1,      1,      1,
            1,      1,      1,      1,      1,      1,      1,      1,
            1,      1,      1,      1,      1,      1,      1,      1,
            1,      1,      1,      1,      1,      1,      1,      1,
            1,      1,      1,      1,      1,      1,      1,      1,
            1,      1,      7,     11,     13,     14,     14,     20,
           20,     29,     29,     40,     53,     69,     94,    144,
          190,    231,    292,    351,    409,    536,    662,    799,
         1216,   1465,   1804,   2136,   2474,   3011,   3518,   4045,
         4566,   5277,   5940,   6360,   6910,   7530,   7955,   8430,
         8873,   9192,   9420,  10047,  10496,  10854,  11391,  12021,
        12341,  13816,  15140,  16435,  17508,  18517,  19107,  19528,
        20417,  20976,  22485,  23182,  24215,  24894,  25662,  26217,
        27815,  28644,  29427,  30296,  31197,  31677,  32258,  33180,
        34428,  35329,  36259,  37303,  37974,  38451,  39573,  40857,
        42037,  43052,  44055,  44988,  46018,  47822,  48700,  49774,
        51562,  53651,  54996,  55968,  57118,  58234,  59650,  61045,
        62338,  63844,  64644,  65822,  67064,  68875,  70476,  72023,
        73018,  73791,  75084,  77189,  78227,  79609,  81636,  83397,
        85942,  88262,  89490,  91467,  93232,  95371,  97894, 100772,
       103529, 105507, 107667, 107667, 107667, 107667, 116570, 120539,
       123004, 124738, 127358, 130242, 133549, 136129, 140307, 143009,
       147468, 150319, 153041, 155887, 159045, 161673, 164870, 166848,
       168757, 172325, 173995, 176028, 178642, 183383, 185872, 188481,
       190693, 192167, 193788, 195614, 197912, 201106, 204167, 206761,
       208528, 208528, 211808, 214197, 216139, 218693, 220762, 221950,
       223131, 224031, 225827, 227346, 229054, 230662, 231695, 232893,
       233777, 235386, 236986, 238458, 239756, 240749, 241768, 242521,
       243935, 244999, 246407, 247542, 248334, 248821, 249241, 249859,
       249859, 252066, 253176, 253985, 254656, 255049, 256148, 257271,
       258516, 259817, 260797, 261446, 262133, 263333, 264414, 265775,
       266988, 267801, 268455, 269284, 270299, 271371, 272653, 273638,
       274565, 274942, 275856, 277445, 278665, 279909, 281165, 282135,
       282982, 283750, 285016, 286183, 287222, 288136, 288451, 289366,
       289366, 290486, 294065, 296821, 298937, 299760, 300614, 302077,
       303369, 305070, 306327, 307618, 309190, 310595, 311745, 313526,
       315564, 317656, 319977, 322207, 323625, 325876, 327964, 330450,
       332865, 336549, 339560, 342343, 344523, 348336, 353232],
      dtype=int64)
  array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    1,    1,    1,    1,    1,    1,
          1,    1,    2,    2,    4,    5,    7,   11,   13,   21,   26,
         32,   37,   44,   54,   65,   78,   89,  117,  132,  147,  169,
        198,  223,  241,  265,  296,  320,  360,  402,  455,  495,  576,
        600,  617,  663,  729,  797,  848,  895,  913,  942, 1000, 1056,
       1111, 1172, 1209, 1229, 1256, 1313, 1367, 1418, 1468, 1512, 1530,
       1569, 1613, 1659, 1709, 1755, 1793, 1821, 1839, 1913, 1970, 2016,
       2049, 2090, 2104, 2116, 2143, 2195, 2241, 2290, 2338, 2362, 2362,
       2443, 2489, 2531, 2565, 2620, 2645, 2655, 2707, 2768, 2813, 2832,
       2890, 2907, 2926, 2959, 2991, 3027, 3063, 3110, 3120, 3137, 3171,
       3205, 3246, 3267, 3285, 3305, 3326, 3369, 3402, 3454, 3454, 3454,
       3454, 3534, 3579, 3642, 3689, 3738, 3793, 3809, 3822, 3894, 3936,
       3988, 3988, 4084, 4095, 4104, 4154, 4213, 4262, 4300, 4351, 4360,
       4375, 4426, 4516, 4552, 4621, 4669, 4692, 4701, 4758, 4825, 4869,
       4918, 4967, 4977, 4996, 5057, 5109, 5171, 5214, 5245, 5254, 5273,
       5335, 5392, 5446, 5491, 5537, 5545, 5558, 5605, 5663, 5701, 5732,
       5759, 5769, 5784, 5829, 5878, 5932, 5977, 6000, 6005, 6030, 6036,
       6090, 6090, 6171, 6197, 6208, 6231, 6273, 6303, 6324, 6330, 6330,
       6353, 6366, 6401, 6423, 6455, 6488, 6504, 6514, 6515, 6551, 6576,
       6610, 6626, 6642, 6647, 6654, 6681, 6709, 6726, 6741, 6768, 6771,
       6773, 6790, 6812, 6834, 6855, 6863, 6876, 6877, 6877, 6944, 6956,
       6974, 6989, 6993, 7000, 7027, 7040, 7044, 7056, 7071, 7074, 7076,
       7097, 7117, 7140, 7157, 7170, 7172, 7177, 7200, 7216, 7221, 7246,
       7266, 7269, 7275, 7299, 7335, 7363], dtype=int64)]]

In [4]:
print([i.tolist() for i in df['cases'].head(1).values])

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 3, 3, 4, 10, 14, 24, 24, 34, 53, 62, 157, 505, 1195, 1518, 2484, 2857, 3494, 4237, 5232, 6095, 6750, 8129, 8887, 10171, 11160, 12274, 13290, 15700, 17504, 18558, 19702, 20879, 22082, 23394, 24715, 26243, 27471, 28404, 29306, 31969, 33521, 34705, 35763, 36482, 37030, 37694, 38481, 39354, 40648, 41660, 42487, 43014, 43587, 44236, 44872, 45519, 46275, 46839, 47183, 47579, 47974, 48550, 48998, 49461, 49817, 50072, 50331, 50667, 51095, 51581, 51991, 52298, 52485, 52681, 52889, 53385, 53639, 53902, 54175, 54360, 54560, 54779, 55147, 55446, 55727, 55900, 56053, 56242, 56405, 56587, 56770, 56966, 57131, 57260, 57367, 57484, 57605, 57733, 57919, 58059, 58177, 58274, 58386, 58502, 58634, 58761, 58874, 58949, 59047, 59111, 59206, 59311, 59420, 59507, 59576, 59650, 59742, 59855, 59957, 60078, 60149, 60211, 60281, 60281, 60461, 60560, 60647, 60748, 60815, 60904, 61012, 61124, 61233, 61351, 61432, 61488, 61568, 61662, 61752, 61824, 61926, 61988, 62053, 62110, 62194, 62295, 62385, 62494, 62577, 62641, 62715, 62790, 62890, 62999, 63086, 63155, 63223, 63308, 63410, 63542, 63636, 63779, 63861, 63913, 64002, 64082, 64162, 64236, 64301, 64375, 64422, 64495, 64572, 64664, 64754, 64857, 64930, 64998, 65118, 65201, 65328, 65440, 65540, 65626, 65700, 65757, 65819, 65929, 66009, 66124, 66197, 66274, 66381, 66468, 66586, 66737, 66971, 67136, 67227, 67391, 67510, 67717, 67892, 68095, 68279, 68462, 68658, 68844, 69062, 69319, 69677, 69933, 70131, 70354, 70616, 70899, 71199, 71435, 71635, 71756, 71941, 72159, 72369, 72598, 72894, 73123, 73263, 73433, 73766, 73935, 74114, 74339, 74553, 74703, 74903, 75169, 75517, 75779, 76001, 76238, 76446, 76663, 76988, 77341, 77709, 78058, 78414, 78745, 79073, 79558, 80008, 80491, 80946, 81371, 81686, 82090, 82543, 83083]]

In [5]:
result = []
for cityInfo in df[['countyFIPS'] + ['#Hospitals', '#ICU_beds']].head(10).values:
    allCityInfo = []  # form the sequence
    for dayICases, dayIDeath in zip(df[(df['countyFIPS']==cityInfo[0])]['cases'].values[0], df[(df['countyFIPS']==cityInfo[0])]['deaths'].values[0]):
        oneCityOneDay = cityInfo[1:].tolist()
        oneCityOneDay.append(dayICases)
        oneCityOneDay.append(dayIDeath)
        allCityInfo.append(oneCityOneDay)
    result.append(allCityInfo)

In [11]:
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')
result = torch.tensor(result, dtype=torch.float32).to(device)

d:\johnathan\python\lib\site-packages\ipykernel_launcher.py:2: UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).

In [7]:
result

tensor([[[1.2000e+01, 3.1800e+02, 0.0000e+00, 0.0000e+00],
         [1.2000e+01, 3.1800e+02, 0.0000e+00, 0.0000e+00],
         [1.2000e+01, 3.1800e+02, 0.0000e+00, 0.0000e+00],
         ...,
         [1.2000e+01, 3.1800e+02, 8.2090e+04, 7.4550e+03],
         [1.2000e+01, 3.1800e+02, 8.2543e+04, 7.4570e+03],
         [1.2000e+01, 3.1800e+02, 8.3083e+04, 7.4650e+03]],

        [[7.6000e+01, 2.1260e+03, 0.0000e+00, 0.0000e+00],
         [7.6000e+01, 2.1260e+03, 0.0000e+00, 0.0000e+00],
         [7.6000e+01, 2.1260e+03, 0.0000e+00, 0.0000e+00],
         ...,
         [7.6000e+01, 2.1260e+03, 3.4452e+05, 7.2990e+03],
         [7.6000e+01, 2.1260e+03, 3.4834e+05, 7.3350e+03],
         [7.6000e+01, 2.1260e+03, 3.5323e+05, 7.3630e+03]],

        [[6.0000e+00, 1.2900e+02, 0.0000e+00, 0.0000e+00],
         [6.0000e+00, 1.2900e+02, 0.0000e+00, 0.0000e+00],
         [6.0000e+00, 1.2900e+02, 0.0000e+00, 0.0000e+00],
         ...,
         [6.0000e+00, 1.2900e+02, 8.3311e+04, 7.3230e+03],
         [6.0000e+00, 1.2900e+02, 8.3809e+04, 7.3240e+03],
         [6.0000e+00, 1.2900e+02, 8.4269e+04, 7.3290e+03]],

        ...,

        [[1.2000e+01, 7.6100e+02, 0.0000e+00, 0.0000e+00],
         [1.2000e+01, 7.6100e+02, 0.0000e+00, 0.0000e+00],
         [1.2000e+01, 7.6100e+02, 0.0000e+00, 0.0000e+00],
         ...,
         [1.2000e+01, 7.6100e+02, 4.0587e+04, 3.2120e+03],
         [1.2000e+01, 7.6100e+02, 4.0908e+04, 3.2140e+03],
         [1.2000e+01, 7.6100e+02, 4.1263e+04, 3.2170e+03]],

        [[1.4000e+01, 5.8600e+02, 0.0000e+00, 0.0000e+00],
         [1.4000e+01, 5.8600e+02, 0.0000e+00, 0.0000e+00],
         [1.4000e+01, 5.8600e+02, 0.0000e+00, 0.0000e+00],
         ...,
         [1.4000e+01, 5.8600e+02, 5.2958e+04, 3.1320e+03],
         [1.4000e+01, 5.8600e+02, 5.3764e+04, 3.1360e+03],
         [1.4000e+01, 5.8600e+02, 5.4721e+04, 3.1450e+03]],

        [[3.4000e+01, 9.1800e+02, 0.0000e+00, 0.0000e+00],
         [3.4000e+01, 9.1800e+02, 0.0000e+00, 0.0000e+00],
         [3.4000e+01, 9.1800e+02, 0.0000e+00, 0.0000e+00],
         ...,
         [3.4000e+01, 9.1800e+02, 1.7541e+05, 2.9190e+03],
         [3.4000e+01, 9.1800e+02, 1.7596e+05, 2.9280e+03],
         [3.4000e+01, 9.1800e+02, 1.7747e+05, 2.9430e+03]]])

In [12]:
model = RNN_Model.RNN(4, 128, 2).to(device)

In [15]:
criterion = nn.MSELoss()
learning_rate = 0.005
optimizer = torch.optim.SGD(model.parameters(), lr=learning_rate)

In [13]:
print(model(result))

tensor([[ 0.1474, -0.3594],
        [-0.0266, -0.2634],
        [ 0.1474, -0.3594],
        [-0.0266, -0.2634],
        [ 0.1474, -0.3594],
        [-0.1313, -0.2907],
        [-0.1434, -0.3448],
        [ 0.0902, -0.2336],
        [-0.0266, -0.2634],
        [-0.1434, -0.3448]], device='cuda:0', grad_fn=<AddmmBackward>)

In [24]:
print(df['tot_cases'].values)

[ 83083 353232  84269 ...    536    430      0]

In [31]:
y = []
for totalCases, totalDeaths in zip(df['tot_cases'].head(10).values, df['tot_deaths'].head(10).values):
    y.append([totalCases, totalDeaths])
y = torch.tensor(y, dtype=torch.float32).to(device)
print(y)

tensor([[ 83083.,   7465.],
        [353232.,   7363.],
        [ 84269.,   7329.],
        [268284.,   5967.],
        [ 59856.,   5023.],
        [183177.,   3850.],
        [209166.,   3738.],
        [ 41263.,   3217.],
        [ 54721.,   3145.],
        [177466.,   2943.]], device='cuda:0')

In [32]:
print(criterion(model(result), y))

tensor(1.6406e+10, device='cuda:0', grad_fn=<MseLossBackward>)

In [33]:
for epoch in range(10):
    outputs = model(result)
    loss = criterion(outputs, y)
    
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

In [34]:
print(model(result))

tensor([[151438.4062,   5003.5649],
        [151438.4062,   5003.5649],
        [151438.4062,   5003.5649],
        [151438.4062,   5003.5649],
        [151438.4062,   5003.5649],
        [151438.4062,   5003.5649],
        [151438.4062,   5003.5649],
        [151438.4062,   5003.5649],
        [151438.4062,   5003.5649],
        [151438.4062,   5003.5649]], device='cuda:0', grad_fn=<AddmmBackward>)